<h2>新規登録の確認メール再送</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :メールアドレス %><br />
    <%= f.text_field :login, autofocus: true, autocomplete: "email",class: "form-control col-md-5 col-sm" ,placeholder: "メールアドレス "%>
  </div>

  <div class="actions pb-5">
    <%= f.submit "新規登録の確認メール再送" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
